<a href="https://colab.research.google.com/github/andrecarlos26/Projeto-Interdisciplinar-SI-2/blob/main/Pr%C3%A9_processamento_e_Tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import statistics as sts
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder


caminho = '/content/drive/My Drive/microdados_enem_2019/MICRODADOS_ENEM_2019_PE.csv'
dados_pe = pd.read_csv(caminho)

In [3]:
dados_pe.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001044305    2019                  2610004  ...    A     C    B
1  190001051159    2019                  2604007  ...    A     A    A
2  190001058610    2019                  2614105  ...    A     B    B
3  190001070444    2019                  2610509  ...    B     E    B
4  190001087987    2019                  2610707  ...    A     A    A

[5 rows x 136 columns]

# Tratamento de alunos faltosos e eliminados

In [4]:
# Encontrar index da feature
dados_pe.columns.get_loc('NU_NOTA_REDACAO')

110

In [5]:
# Remo√ß√£o dos faltosos e eliminados do Primeiro dia (Reda√ß√£o, Linguagens e Humanas)
dados_pe.dropna(subset=['NU_NOTA_REDACAO'], inplace=True)

In [6]:
# Remo√ß√£o dos faltosos e eliminados do Segundo Dia (Matem√°tica e Natureza)
dados_pe.dropna(subset=['NU_NOTA_MT'], inplace=True)

In [7]:
# Tratamento de algumas colunas NaN de dados do participante que v√£o ser utilizadas no algoritmo de predi√ß√£o
moda = int(sts.mode(dados_pe['CO_MUNICIPIO_NASCIMENTO']))
dados_pe['CO_MUNICIPIO_NASCIMENTO'].fillna(moda, inplace=True)

In [8]:
moda = sts.mode(dados_pe['NO_MUNICIPIO_NASCIMENTO'])
dados_pe['NO_MUNICIPIO_NASCIMENTO'].fillna(moda, inplace=True)

In [9]:
moda = int(sts.mode(dados_pe['CO_UF_NASCIMENTO']))
dados_pe['CO_UF_NASCIMENTO'].fillna(moda, inplace=True)

In [10]:
moda = sts.mode(dados_pe['SG_UF_NASCIMENTO'])
dados_pe['SG_UF_NASCIMENTO'].fillna(moda, inplace=True)

In [11]:
dados_pe.shape

(202753, 136)

Ap√≥s a remo√ß√£o dos alunos faltosos de eliminados a quantidade de inst√¢ncias do dataset foi reduzida a 202753

#Cria√ß√£o das colunas NO_REGIAO_RESIDENCIA e NO_REGIAO_NASCIMENTO

In [12]:
dict_regioes_pe = { 
  'Araripina': 'Sert√£o',
  'Bodoc√≥': 'Sert√£o',
  'Exu': 'Sert√£o',
  'Granito': 'Sert√£o',
  'Ipubi': 'Sert√£o',
  'Moreil√¢ndia': 'Sert√£o',
  'Ouricuri': 'Sert√£o',
  'Santa Cruz': 'Sert√£o',
  'Santa Filomena': 'Sert√£o',
  'Trindade': 'Sert√£o',
  'Cedro': 'Sert√£o',
  'Mirandiba': 'Sert√£o',
  'Parnamirim': 'Sert√£o',
  'Salgueiro': 'Sert√£o',
  'S√£o Jos√© do Belmonte': 'Sert√£o',
  'Serrita': 'Sert√£o',
  'Verdejante': 'Sert√£o',
  'Afogados da Ingazeira': 'Sert√£o',
  'Brejinho': 'Sert√£o',
  'Calumbi': 'Sert√£o',
  'Carna√≠ba': 'Sert√£o',
  'Flores': 'Sert√£o',
  'Iguaracy': 'Sert√£o',
  'Ingazeira': 'Sert√£o',
  'Itapetim': 'Sert√£o',
  'Quixaba': 'Sert√£o',
  'Santa Cruz da Baixa Verde': 'Sert√£o',
  'Santa Terezinha': 'Sert√£o',
  'S√£o Jos√© do Egito': 'Sert√£o',
  'Serra Talhada': 'Sert√£o',
  'Solid√£o': 'Sert√£o',
  'Tabira': 'Sert√£o',
  'Triunfo': 'Sert√£o',
  'Tuparetama': 'Sert√£o',
  'Arcoverde': 'Sert√£o',
  'Bet√¢nia': 'Sert√£o',
  'Cust√≥dia': 'Sert√£o',
  'Ibimirim': 'Sert√£o',
  'Inaj√°': 'Sert√£o',
  'Manari': 'Sert√£o',
  'Sert√¢nia': 'Sert√£o',

  'Afr√¢nio': 'S√£o Francisco',
  'Cabrob√≥': 'S√£o Francisco',
  'Dormentes': 'S√£o Francisco',
  'Lagoa Grande': 'S√£o Francisco',
  'Oroc√≥': 'S√£o Francisco',
  'Petrolina': 'S√£o Francisco',
  'Santa Maria da Boa Vista': 'S√£o Francisco',
  'Terra Nova': 'S√£o Francisco',
  'Bel√©m do S√£o Francisco': 'S√£o Francisco',
  'Carnaubeira da Penha': 'S√£o Francisco',
  'Floresta': 'S√£o Francisco',
  'Itacuruba': 'S√£o Francisco',
  'Jatob√°': 'S√£o Francisco',
  'Petrol√¢ndia': 'S√£o Francisco',
  'Tacaratu': 'S√£o Francisco',

  '√Åguas Belas': 'Agreste',
  'Bu√≠que': 'Agreste',
  'Ita√≠ba': 'Agreste',
  'Pedra': 'Agreste',
  'Tupanatinga': 'Agreste',
  'Venturosa': 'Agreste',
  'Alagoinha': 'Agreste',
  'Belo Jardim': 'Agreste',
  'Bezerros': 'Agreste',
  'Brejo da Madre de Deus': 'Agreste',
  'Cachoeirinha': 'Agreste',
  'Capoeiras': 'Agreste',
  'Caruaru': 'Agreste',
  'Gravat√°': 'Agreste',
  'Jata√∫ba': 'Agreste',
  'Pesqueira': 'Agreste',
  'Po√ß√£o': 'Agreste',
  'Riacho das Almas': 'Agreste',
  'Sanhar√≥': 'Agreste',
  'S√£o Bento do Una': 'Agreste',
  'S√£o Caitano': 'Agreste',
  'Tacaimb√≥': 'Agreste',
  'Casinhas': 'Agreste',
  'Frei Miguelinho': 'Agreste',
  'Santa Cruz do Capibaribe': 'Agreste',
  'Santa Maria do Cambuc√°': 'Agreste',
  'Surubim': 'Agreste',
  'Taquaritinga do Norte': 'Agreste',
  'Toritama': 'Agreste',
  'Vertente do L√©rio': 'Agreste',
  'Vertentes': 'Agreste',
  'Bom Jardim': 'Agreste',
  'Cumaru': 'Agreste',
  'Feira Nova': 'Agreste',
  'Jo√£o Alfredo': 'Agreste',
  'Limoeiro': 'Agreste',
  'Machados': 'Agreste',
  'Orob√≥': 'Agreste',
  'Passira': 'Agreste',
  'Salgadinho': 'Agreste',
  'S√£o Vicente F√©rrer': 'Agreste',
  'Angelim': 'Agreste',
  'Bom Conselho': 'Agreste',
  'Brej√£o': 'Agreste',
  'Caet√©s': 'Agreste',
  'Cal√ßado': 'Agreste',
  'Canhotinho': 'Agreste',
  'Correntes': 'Agreste',
  'Garanhuns': 'Agreste',
  'Iati': 'Agreste',
  'Jucati': 'Agreste',
  'Jupi': 'Agreste',
  'Jurema': 'Agreste',
  'Lagoa do Ouro': 'Agreste',
  'Lajedo': 'Agreste',
  'Palmeirina': 'Agreste',
  'Paranatama': 'Agreste',
  'Salo√°': 'Agreste',
  'S√£o Jo√£o': 'Agreste',
  'Terezinha': 'Agreste',
  'Agrestina': 'Agreste',
  'Altinho': 'Agreste',
  'Barra de Guabiraba': 'Agreste',
  'Bonito': 'Agreste',
  'Camocim de S√£o F√©lix': 'Agreste',
  'Cupira': 'Agreste',
  'Ibirajuba': 'Agreste',
  'Lagoa dos Gatos': 'Agreste',
  'Panelas': 'Agreste',
  'Sair√©': 'Agreste',
  'S√£o Joaquim do Monte': 'Agreste',

  'Alian√ßa': 'Zona da Mata',
  'Buenos Aires': 'Zona da Mata',
  'Camutanga': 'Zona da Mata',
  'Carpina': 'Zona da Mata',
  'Condado': 'Zona da Mata',
  'Ferreiros': 'Zona da Mata',
  'Goiana': 'Zona da Mata',
  'Itamb√©': 'Zona da Mata',
  'Itaquitinga': 'Zona da Mata',
  'Lagoa de Itaenga': 'Zona da Mata',
  'Lagoa do Carro': 'Zona da Mata',
  'Macaparana': 'Zona da Mata',
  'Nazar√© da Mata': 'Zona da Mata',
  'Paudalho': 'Zona da Mata',
  'Timba√∫ba': 'Zona da Mata',
  'Tracunha√©m': 'Zona da Mata',
  'Vic√™ncia': 'Zona da Mata',
  'Ch√£ de Alegria': 'Zona da Mata',
  'Ch√£ Grande': 'Zona da Mata',
  'Gl√≥ria do Goit√°': 'Zona da Mata',
  'Pombos': 'Zona da Mata',
  'Vit√≥ria de Santo Ant√£o': 'Zona da Mata',
  '√Ågua Preta': 'Zona da Mata',
  'Amaraji': 'Zona da Mata',
  'Barreiros': 'Zona da Mata',
  'Bel√©m de Maria': 'Zona da Mata',
  'Catende': 'Zona da Mata',
  'Cort√™s': 'Zona da Mata',
  'Escada': 'Zona da Mata',
  'Gameleira': 'Zona da Mata',
  'Jaqueira': 'Zona da Mata',
  'Joaquim Nabuco': 'Zona da Mata',
  'Maraial': 'Zona da Mata',
  'Palmares': 'Zona da Mata',
  'Primavera': 'Zona da Mata',
  'Quipap√°': 'Zona da Mata',
  'Ribeir√£o': 'Zona da Mata',
  'Rio Formoso': 'Zona da Mata',
  'S√£o Benedito do Sul': 'Zona da Mata',
  'S√£o Jos√© da Coroa Grande': 'Zona da Mata',
  'Sirinha√©m': 'Zona da Mata',
  'Tamandar√©': 'Zona da Mata',
  'Xex√©u': 'Zona da Mata',

  'Ara√ßoiaba': 'Regi√£o Metropolitana',
  'Igarassu': 'Regi√£o Metropolitana',
  'Ilha de Itamarac√°': 'Regi√£o Metropolitana',
  'Itapissuma': 'Regi√£o Metropolitana',
  'Abreu e Lima': 'Regi√£o Metropolitana',
  'Camaragibe': 'Regi√£o Metropolitana',
  'Jaboat√£o dos Guararapes': 'Regi√£o Metropolitana',
  'Moreno': 'Regi√£o Metropolitana',
  'Olinda': 'Regi√£o Metropolitana',
  'Paulista': 'Regi√£o Metropolitana',
  'Recife': 'Regi√£o Metropolitana',
  'S√£o Louren√ßo da Mata': 'Regi√£o Metropolitana',
  'Cabo de Santo Agostinho': 'Regi√£o Metropolitana',
  'Ipojuca': 'Regi√£o Metropolitana',
  'Fernando de Noronha': 'Regi√£o Metropolitana',
}

In [13]:
regiao_residencia = []

for municipio in dados_pe['NO_MUNICIPIO_RESIDENCIA']:
  regiao_residencia.append(dict_regioes_pe[municipio])

dados_pe['NO_REGIAO_RESIDENCIA'] = regiao_residencia

In [14]:
regiao_nascimento = []

for municipio in dados_pe['NO_MUNICIPIO_NASCIMENTO']:
  try:
    regiao_nascimento.append(dict_regioes_pe[municipio])
  except KeyError:
    regiao_nascimento.append('Outro')

dados_pe['NO_REGIAO_NASCIMENTO'] = regiao_nascimento

# Cria√ß√£o das colunas NU_MEDIA e CATEGORIA_MEDIA

In [15]:
notas = dados_pe.iloc[:,  np.r_[91:95,110]].values

In [16]:
media = []

for i in notas:
  media.append(sts.mean(i))

In [17]:
dados_pe['NU_MEDIA'] = media

In [18]:
# obten√ß√£o dos valores dos quantis
quantil_25 = dados_pe['NU_MEDIA'].quantile(0.25)
quantil_50 = dados_pe['NU_MEDIA'].quantile(0.50)
quantil_75 = dados_pe['NU_MEDIA'].quantile(0.75)
print(quantil_25)
print(quantil_50)
print(quantil_75)

458.5
508.46
568.4200000000001

In [19]:
# Divis√£o para classifica√ß√£o bin√°ria
tipo_media = []
for i in media:
  if (i <= quantil_25):
    tipo_media.append('D')
  elif (i > quantil_25 and i <= quantil_50):
    tipo_media.append('C')
  elif (i > quantil_50 and i <= quantil_75):
    tipo_media.append('B')
  else:
    tipo_media.append('A')

In [20]:
dados_pe['TP_MEDIA'] = tipo_media

In [21]:
dados_pe.groupby('TP_MEDIA').size()

TP_MEDIA
A    50688
B    50678
C    50688
D    50699
dtype: int64

In [22]:
pd.set_option('max_columns', 138)
dados_pe.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,NO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_ESCOLA,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_BAIXA_VISAO,IN_CEGUEIRA,IN_SURDEZ,IN_DEFICIENCIA_AUDITIVA,IN_SURDO_CEGUEIRA,IN_DEFICIENCIA_FISICA,IN_DEFICIENCIA_MENTAL,IN_DEFICIT_ATENCAO,IN_DISLEXIA,IN_DISCALCULIA,IN_AUTISMO,IN_VISAO_MONOCULAR,IN_OUTRA_DEF,IN_GESTANTE,IN_LACTANTE,IN_IDOSO,IN_ESTUDA_CLASSE_HOSPITALAR,IN_SEM_RECURSO,IN_BRAILLE,IN_AMPLIADA_24,IN_AMPLIADA_18,IN_LEDOR,IN_ACESSO,IN_TRANSCRICAO,IN_LIBRAS,IN_TEMPO_ADICIONAL,IN_LEITURA_LABIAL,IN_MESA_CADEIRA_RODAS,IN_MESA_CADEIRA_SEPARADA,IN_APOIO_PERNA,IN_GUIA_INTERPRETE,IN_COMPUTADOR,IN_CADEIRA_ESPECIAL,IN_CADEIRA_CANHOTO,IN_CADEIRA_ACOLCHOADA,IN_PROVA_DEITADO,IN_MOBILIARIO_OBESO,IN_LAMINA_OVERLAY,IN_PROTETOR_AURICULAR,IN_MEDIDOR_GLICOSE,IN_MAQUINA_BRAILE,...,IN_SONDA,IN_MEDICAMENTOS,IN_SALA_INDIVIDUAL,IN_SALA_ESPECIAL,IN_SALA_ACOMPANHANTE,IN_MOBILIARIO_ESPECIFICO,IN_MATERIAL_ESPECIFICO,IN_NOME_SOCIAL,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,NO_REGIAO_RESIDENCIA,NO_REGIAO_NASCIMENTO,NU_MEDIA,TP_MEDIA
0,190001044305,2019,2610004,Palmares,26,PE,21,F,0,0,1,2611606.0,Recife,26.0,PE,1,4,1,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1302603,Manaus,13,AM,1,1,1,1,503.0,509.0,514.0,515.0,619.6,674.7,629.1,705.7,ABECDCDEADCACDDABBECCEDBEAAEBACBBDCEBCDEADDDC,ACBCEEBCCBABADBBEACABBEECCCAACECADCBBEABBEADE,EBBAD99999BACBCCADEBAAADEABCDECBDBADBBBAAECACC...,AEEADEEBAECBADBDCEDBAAADBDDBBEDCEBEADEECBCBAB,0,AAECACDEADCBCDDDBCBDADAEABCEBABEEBCBEECEBDADC,ACACEEBCCBABADBBBACDBBACCCCADCEBADCBEEDBBEADB,EBBADCABDABACBCEBDEEAAADDBECDECDDBADBCDAAECBCC...,EEEADBEBACABCDBABECECACDCBDCCEDCDABEDECDDDBAA,1.0,200.0,200.0,160.0,160.0,160.0,880.0,E,H,F,F,6,E,A,D,E,B,A,B,B,B,A,B,A,A,C,A,A,E,A,C,B,Zona da Mata,Regi√£o Metropolitana,701.82,A
5,190001095236,2019,2604304,Cedro,26,PE,23,M,1,3,1,2604304.0,Cedro,26.0,PE,1,5,1,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2307106,Jardim,23,CE,1,1,1,1,505.0,508.0,512.0,518.0,518.7,450.1,364.6,453.3,AACBBEBDACCBCECCEEBBCCEBDDAEABBEBECCDADDDEDBD,DAEAEAACBCBADCBBDDBCEDECECAAEACCECEECECBECAAD,99999CDCEBECBBCBDDCDACEBACAAEBCCBEAEBCEAADDADD...,BCCBACCEEDABADBCDBCADBBDDBADBEDBCEBDABCDBDCAD,1,DADCCEBBCCACBEEBEEBACBCDDDDADBCBBCEAEADEADAAE,CBABADBBCEEEBCBADCBEEDBBEADBBACDBBACCCCADACAC,BBEDABDACACBABAECBBCCADCEBDBBCDDEEAAADDBECDECA...,DBEBACABCDBABECEEEDCBDCCEDCDABEDAADDDECACAECB,1.0,60.0,120.0,80.0,100.0,40.0,400.0,E,C,A,A,4,B,A,B,C,B,B,B,A,B,A,A,A,A,B,A,A,C,A,B,B,Sert√£o,Sert√£o,437.34,D
7,190001098520,2019,2615607,Trindade,26,PE,19,M,1,2,1,2615607.0,Trindade,26.0,PE,1,2,1,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2208007,Picos,22,PI,1,1,1,1,505.0,509.0,514.0,518.0,629.8,609.5,581.9,676.8,AADABEDBDCACBBEABEBDCECDBACBDBBAABECEADEDDABE,ACACEEBCAAACADBBBACABBACCEBABECCBECBCEDBAAADD,99999DABDABBCCCCECEBDAADDDEEDECDDBADACCDCDCEEC...,DDABABCACDBACEBECEECABEDAEBBAEECAADAAEDDBEDEB,1,DADCCEBBCCACBEEBEEBACBCDDDDADBCBBCEAEADEADAAE,ACACEEBCCBABADBBBACDBBACCCCADCEBADCBEEDBBEADB,EBBADCABDABACBCEBDEEAAADDBECDECDDBADBCDAAECBCC...,DBEBACABCDBABECEEEDCBDCCEDCDABEDAADDDECACAECB,1.0,160.0,180.0,180.0,160.0,100.0,780.0,E,C,B,A,6,C,A,B,C,A,B,B,A,A,A,A,A,A,B,A,A,C,A,A,A,Sert√£o,Sert√£o,655.60,A
9,190001116648,2019,2611101,Petrolina,26,PE,25,F,1,3,1,2207801.0,Paulistana,22.0,PI,1,6,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2207801,Paulistana,22,PI,1,1,1,1,506.0,510.0,513.0,517.0,453.6,517.0,495.9,505.2,BDEDDCDCAEAEBBBCBABECCACCEEEBEBDAAABBDAEABEAB,AEACEEDDCCAADBBBBCDECECDCABEDCBACDBBACBECDACE,99999AAAAABBBBEBEACEABDEAAAAAACDACDDAEABDADBEA...,ABCABDEAEDBBCCBDEABEDABCDECCBCBBDCBCDEEDACCED,1,DEADBAAAEBEECEBCBCBCBDADAEABCEDDDDADCBEECACBC,EEBCEEDBADBBCBABCCADCEBACDBBACCACACBEADBBADCB,ADBBEDCABAABBCBCDAAECDDDBAAAECADECDCEBDEEAECBD...,AADDDBEEEBEDDBEBACABCDBABECECACAECDCBDCCEDCDA,1.0,140.0,120.0,140.0,160.0,100.0,660.0,H,B,A,A,4,B,A,B,C,A,C,B,A,A,A,A,A,A,B,B,A,D,A,A,B,S√£o Francisco,Outro,526.34,B
12,190001134974,2019,2607307,Ipubi,26,PE,16,F,1,1,1,2304202.0,Crato,23.0,CE,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2307304,Juazeiro do Norte,23,CE,1,1,1,1,506.0,510.0,513.0,517.0,548.4,597.0,510.6,682.8,DEEBBCCEDDACBEACBBEBBADDCEABCEDECBCDABCEDECDE,EEDCAEDBADBDECABDEAECAECBEBBCECACBCBABDECBDCB,AEBCA99999EBDEBDEECEC.DD.DBCECBDDEACDEBABDECCD...,AA.BABECEBECDDCDABACBDDDCEDADDAACDCCBEEAEDEBE,0,DEADBAAAEBEECEBCBCBCBDADAEABCEDDDDADCBEECACBC,EEBCEEDBADBBCBABCCADCEBACDBBACCACACBEADBBADCB,ADBBEDCABAABBCBCDAAECDDDBAAAECADECDCEBDEEAECBD...,AADDDBEEEBEDDBEBACABCDBABECECACAECDCBDCCEDCDA,1.0,180.0,200.0,180.0,160.0,200.0,920.0,C,F,D,D,5,D,A,B,D,B,C,B,A,B,A,B,A,A,C,A,B,D,A,B,B,Sert√£o,Outro,651.76,A

# Verificando se existem inst√¢ncias fora do dom√≠nio

In [23]:
group_cor_raca = dados_pe.groupby(['TP_COR_RACA']).size()
group_cor_raca

TP_COR_RACA
0      4692
1     59917
2     23396
3    106420
4      5727
5      2601
dtype: int64

In [24]:
group_no_mun_res = dados_pe.groupby(['NO_REGIAO_RESIDENCIA']).size()
group_no_mun_res.sort_values(ascending=False)

NO_REGIAO_RESIDENCIA
Regi√£o Metropolitana    94189
Agreste                 45969
Zona da Mata            24459
Sert√£o                  19965
S√£o Francisco           18171
dtype: int64

In [25]:
group_no_mun_nas = dados_pe.groupby(['NO_REGIAO_NASCIMENTO']).size()
group_no_mun_nas.sort_values(ascending=False)

NO_REGIAO_NASCIMENTO
Regi√£o Metropolitana    94074
Agreste                 39739
Zona da Mata            22311
Sert√£o                  18755
Outro                   15227
S√£o Francisco           12647
dtype: int64

In [26]:
group_tp_ano_con = dados_pe.groupby(['TP_ANO_CONCLUIU']).size()
group_tp_ano_con

TP_ANO_CONCLUIU
0     93347
1     27233
2     17636
3     12314
4      8958
5      7003
6      5320
7      4233
8      3506
9      3012
10     2607
11     2047
12     1839
13    13698
dtype: int64

In [27]:
group_q001 = dados_pe.groupby(['Q001']).size()
group_q001

Q001
A    11722
B    46480
C    29615
D    21965
E    55944
F    12614
G     7829
H    16584
dtype: int64

In [28]:
group_q005 = dados_pe.groupby(['Q005']).size()
group_q005

Q005
1      3114
2     22003
3     50267
4     70136
5     35624
6     12776
7      5177
8      2130
9       746
10      425
11      155
12       97
13       42
14       24
15        9
16       10
17        3
18        6
19        1
20        8
dtype: int64

# Verificando se features que v√£o ser utilizadas possuem NaN's

In [29]:
pd.set_option('max_rows',300)
dados_pe.isnull().sum()

NU_INSCRICAO                        0
NU_ANO                              0
CO_MUNICIPIO_RESIDENCIA             0
NO_MUNICIPIO_RESIDENCIA             0
CO_UF_RESIDENCIA                    0
SG_UF_RESIDENCIA                    0
NU_IDADE                            0
TP_SEXO                             0
TP_ESTADO_CIVIL                     0
TP_COR_RACA                         0
TP_NACIONALIDADE                    0
CO_MUNICIPIO_NASCIMENTO             0
NO_MUNICIPIO_NASCIMENTO             0
CO_UF_NASCIMENTO                    0
SG_UF_NASCIMENTO                    0
TP_ST_CONCLUSAO                     0
TP_ANO_CONCLUIU                     0
TP_ESCOLA                           0
TP_ENSINO                       77189
IN_TREINEIRO                        0
CO_ESCOLA                      151981
CO_MUNICIPIO_ESC               151981
NO_MUNICIPIO_ESC               151981
CO_UF_ESC                      151981
SG_UF_ESC                      151981
TP_DEPENDENCIA_ADM_ESC         151981
TP_LOCALIZACAO_ESC             151981
TP_SIT_FUNC_ESC                151981
IN_BAIXA_VISAO                      0
IN_CEGUEIRA                         0
IN_SURDEZ                           0
IN_DEFICIENCIA_AUDITIVA             0
IN_SURDO_CEGUEIRA                   0
IN_DEFICIENCIA_FISICA               0
IN_DEFICIENCIA_MENTAL               0
IN_DEFICIT_ATENCAO                  0
IN_DISLEXIA                         0
IN_DISCALCULIA                      0
IN_AUTISMO                          0
IN_VISAO_MONOCULAR                  0
IN_OUTRA_DEF                        0
IN_GESTANTE                         0
IN_LACTANTE                         0
IN_IDOSO                            0
IN_ESTUDA_CLASSE_HOSPITALAR         0
IN_SEM_RECURSO                      0
IN_BRAILLE                          0
IN_AMPLIADA_24                      0
IN_AMPLIADA_18                      0
IN_LEDOR                            0
IN_ACESSO                           0
IN_TRANSCRICAO                      0
IN_LIBRAS                           0
IN_TEMPO_ADICIONAL                  0
IN_LEITURA_LABIAL                   0
IN_MESA_CADEIRA_RODAS               0
IN_MESA_CADEIRA_SEPARADA            0
IN_APOIO_PERNA                      0
IN_GUIA_INTERPRETE                  0
IN_COMPUTADOR                       0
IN_CADEIRA_ESPECIAL                 0
IN_CADEIRA_CANHOTO                  0
IN_CADEIRA_ACOLCHOADA               0
IN_PROVA_DEITADO                    0
IN_MOBILIARIO_OBESO                 0
IN_LAMINA_OVERLAY                   0
IN_PROTETOR_AURICULAR               0
IN_MEDIDOR_GLICOSE                  0
IN_MAQUINA_BRAILE                   0
IN_SOROBAN                          0
IN_MARCA_PASSO                      0
IN_SONDA                            0
IN_MEDICAMENTOS                     0
IN_SALA_INDIVIDUAL                  0
IN_SALA_ESPECIAL                    0
IN_SALA_ACOMPANHANTE                0
IN_MOBILIARIO_ESPECIFICO            0
IN_MATERIAL_ESPECIFICO              0
IN_NOME_SOCIAL                      0
CO_MUNICIPIO_PROVA                  0
NO_MUNICIPIO_PROVA                  0
CO_UF_PROVA                         0
SG_UF_PROVA                         0
TP_PRESENCA_CN                      0
TP_PRESENCA_CH                      0
TP_PRESENCA_LC                      0
TP_PRESENCA_MT                      0
CO_PROVA_CN                         0
CO_PROVA_CH                         0
CO_PROVA_LC                         0
CO_PROVA_MT                         0
NU_NOTA_CN                          0
NU_NOTA_CH                          0
NU_NOTA_LC                          0
NU_NOTA_MT                          0
TX_RESPOSTAS_CN                     0
TX_RESPOSTAS_CH                     0
TX_RESPOSTAS_LC                     0
TX_RESPOSTAS_MT                     0
TP_LINGUA                           0
TX_GABARITO_CN                      0
TX_GABARITO_CH                      0
TX_GABARITO_LC                      0
TX_GABARITO_MT                      0
TP_STATUS_REDACAO                   0
NU_NOTA_COMP1                       0
NU_NOTA_COMP2                       0
NU_NOTA_COMP3                       0
NU_NOTA_COMP4                       0
NU_NOTA_COMP5                       0
NU_NOTA_REDACAO                     0
Q001                                0
Q002                                0
Q003                                0
Q004                                0
Q005                                0
Q006                                0
Q007                                0
Q008                                0
Q009                                0
Q010                                0
Q011                                0
Q012                                0
Q013                                0
Q014                                0
Q015                                0
Q016                                0
Q017                                0
Q018                                0
Q019                                0
Q020                                0
Q021                                0
Q022                                0
Q023                                0
Q024                                0
Q025                                0
NO_REGIAO_RESIDENCIA                0
NO_REGIAO_NASCIMENTO                0
NU_MEDIA                            0
TP_MEDIA                            0
dtype: int64

# Extra√ß√£o de features selecionadas para predi√ß√£o

In [30]:
dados_pe.columns.get_loc('NO_REGIAO_RESIDENCIA')

136

In [31]:
dados_pe.columns.get_loc('NO_REGIAO_NASCIMENTO')

137

In [32]:
dados_pe.columns.get_loc('NU_IDADE')

6

In [33]:
dados_pe.columns.get_loc('TP_COR_RACA')

9

In [34]:
dados_pe.columns.get_loc('TP_ANO_CONCLUIU')

16

In [35]:
dados_pe.columns.get_loc('Q001')

111

In [36]:
dados_pe.columns.get_loc('Q006')

116

In [37]:
dados_pe.columns.get_loc('TP_MEDIA')

139

In [38]:
dados_pe.columns.get_loc('NU_MEDIA')

138

In [39]:
dados_selecionados = dados_pe.iloc[:,  np.r_[136, 137, 6, 9, 16, 111:117, 139, 138]]
dados_selecionados.head(10)

,NO_REGIAO_RESIDENCIA,NO_REGIAO_NASCIMENTO,NU_IDADE,TP_COR_RACA,TP_ANO_CONCLUIU,Q001,Q002,Q003,Q004,Q005,Q006,TP_MEDIA,NU_MEDIA
0,Zona da Mata,Regi√£o Metropolitana,21,0,4,E,H,F,F,6,E,A,701.82
5,Sert√£o,Sert√£o,23,3,5,E,C,A,A,4,B,D,437.34
7,Sert√£o,Sert√£o,19,2,2,E,C,B,A,6,C,A,655.60
9,S√£o Francisco,Outro,25,3,6,H,B,A,A,4,B,B,526.34
12,Sert√£o,Outro,16,1,0,C,F,D,D,5,D,A,651.76
13,Sert√£o,Sert√£o,17,1,0,B,B,F,A,3,B,A,634.92
16,Sert√£o,Sert√£o,22,0,6,A,D,A,A,4,B,B,539.90
17,Sert√£o,Sert√£o,19,3,3,B,E,A,B,4,B,B,551.50
19,Sert√£o,Sert√£o,19,3,2,F,F,D,D,5,E,A,587.12
20,Sert√£o,Sert√£o,17,1,0,B,E,A,A,3,B,C,494.44

In [40]:
dados_selecionados.index = range(len(dados_selecionados.index))
dados_selecionados

,NO_REGIAO_RESIDENCIA,NO_REGIAO_NASCIMENTO,NU_IDADE,TP_COR_RACA,TP_ANO_CONCLUIU,Q001,Q002,Q003,Q004,Q005,Q006,TP_MEDIA,NU_MEDIA
0,Zona da Mata,Regi√£o Metropolitana,21,0,4,E,H,F,F,6,E,A,701.82
1,Sert√£o,Sert√£o,23,3,5,E,C,A,A,4,B,D,437.34
2,Sert√£o,Sert√£o,19,2,2,E,C,B,A,6,C,A,655.60
3,S√£o Francisco,Outro,25,3,6,H,B,A,A,4,B,B,526.34
4,Sert√£o,Outro,16,1,0,C,F,D,D,5,D,A,651.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202748,Agreste,Agreste,28,3,10,B,B,A,A,5,A,D,448.04
202749,Regi√£o Metropolitana,Regi√£o Metropolitana,19,3,3,E,E,B,B,2,C,B,545.56
202750,Sert√£o,Sert√£o,21,1,5,C,F,A,D,8,E,B,562.10
202751,Regi√£o Metropolitana,Regi√£o Metropolitana,44,1,8,A,A,B,B,3,B,C,486.16
202752,Regi√£o Metropolitana,Regi√£o Metropolitana,19,3,3,A,B,C,B,5,E,A,597.22

# Exporta√ß√£o do novo dataframe csv

In [41]:
dados_selecionados.to_csv('/content/drive/My Drive/microdados_enem_2019/DADOS_TRATADOS_QUANTIL.csv', index=False)